* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  letter-spacing: 0.15px;
  color: #ede7f6;
  background: linear-gradient(#43c6ac, #191654);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

header h1 {
  margin: 10px 0px 3px;
  font-size: 26px;
}

header h2 {
  font-size: 22px;
  font-weight: 500;
}

.avatar {
  width: 175px;
  margin: 10px;
  border: 3px solid #ede7f6;
  border-radius: 100%;
}

.textos {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.text {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px;
}

.btn-list {
  padding: 5px;
}

nav ul {
  margin: 5px auto;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a:link,
nav a:visited {
  margin: 20px 25px 20px;
  filter: invert(0.9);
  text-decoration: none;
}

nav a img {
  width: 40px;
  height: 40px;
}

/* ---------------------------------------------- */

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

section ul {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

section li {
  display: flex;
  justify-content: center;
  margin: 10px;
}

section a:link,
section a:visited {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #ede7f6;
  border-radius: 10px;
  color: #ede7f6;
  text-decoration: none;
  background-color: #ffffff17;
}

section ul li a:hover,
section ul li a:active {
  background-color: transparent;
}
.btns {
  margin-bottom: 50px;
}

/* ----------------------------------------------- */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
}

footer a:link,
footer a:visited {
  text-decoration: none;
  color: #ede7f6;
}

.ft-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px;
}

/* ------------------------------------------- */

@media only screen and (max-width: 1920px) {
  body {
    font-size: 19px;
  }
  header {
    padding: 20px;
  }
  .avatar {
    width: 175px;
  }
  header h1 {
    font-size: 26px;
  }
  header h2 {
    font-size: 22px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 25px;
  }
  .text {
    max-width: 600px;
  }
  nav a img {
    width: 40px;
    height: 40px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 25px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 2px solid #ede7f6;
    height: 40px;
  }
  footer {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  header {
    padding: 20px;
  }
  .avatar {
    width: 175px;
  }
  header h1 {
    font-size: 25px;
  }
  header h2 {
    font-size: 21px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 25px;
  }
  .text {
    max-width: 600px;
  }
  nav a img {
    width: 40px;
    height: 40px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 25px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 2px solid #ede7f6;
    height: 45px;
  }
  footer {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  header {
    padding: 20px;
  }
  .avatar {
    width: 140px;
  }
  header h1 {
    font-size: 20px;
  }
  header h2 {
    font-size: 17px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 20px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 35px;
    height: 35px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 25px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 2px solid #ede7f6;
    height: 40px;
  }
  footer {
    font-size: 13px;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }
  header {
    padding: 20px;
  }
  .avatar {
    width: 120px;
  }
  header h1 {
    font-size: 19px;
  }
  header h2 {
    font-size: 15px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 10px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 30px;
    height: 30px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 2px solid #ede7f6;
    height: 37px;
  }
  footer {
    font-size: 12px;
  }
}

/* @media only screen and (max-width: 425px) and (max-height: 750px) {
  body {
    font-size: 13px;
  }
  header {
    padding: 10px 20px;
  }
  .avatar {
    width: 120px;
  }
  header h1 {
    font-size: 19px;
  }
  header h2 {
    font-size: 15px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 10px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 30px;
    height: 30px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 1px solid #ede7f6;
    height: 30px;
  }
  footer {
    font-size: 12px;
  }
} */

@media only screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 20px;
  }
  .avatar {
    width: 110px;
  }
  header h1 {
    font-size: 18px;
  }
  header h2 {
    font-size: 15px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 10px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 27px;
    height: 27px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 1px solid #ede7f6;
    height: 35px;
  }
  footer {
    font-size: 11px;
  }
}

/* @media only screen and (max-width: 375px) and (max-height: 750px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 10px 20px;
  }
  .avatar {
    width: 110px;
  }
  header h1 {
    font-size: 18px;
  }
  header h2 {
    font-size: 15px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 10px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 27px;
    height: 27px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 20px;
  }
  section a:link,
  section a:visited {
    border: 1px solid #ede7f6;
    height: 30px;
  }
  footer {
    font-size: 10px;
  }
} */

@media only screen and (max-width: 320px) {
  body {
    font-size: 11px;
  }
  header {
    padding: 15px;
  }
  .avatar {
    width: 100px;
  }
  header h1 {
    font-size: 16px;
  }
  header h2 {
    font-size: 14px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 5px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 25px;
    height: 25px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 15px;
  }
  section a:link,
  section a:visited {
    border: 1px solid #ede7f6;
    height: 30px;
  }
  footer {
    font-size: 11px;
  }
}
/* @media screen and (max-width: 320px) and (max-height: 750px) {
  body {
    font-size: 11px;
  }
  header {
    padding: 15px;
  }
  .avatar {
    width: 100px;
  }
  header h1 {
    font-size: 16px;
  }
  header h2 {
    font-size: 14px;
  }
  .btn-list {
    padding: 5px;
  }
  .textos {
    margin: 5px;
  }
  .text {
    max-width: 500px;
  }
  nav a img {
    width: 25px;
    height: 25px;
  }
  nav a:link,
  nav a:visited {
    margin: 20px 15px 20px;
  }
  section {
    padding: 15px;
  }
  section a:link,
  section a:visited {
    border: 1px solid #ede7f6;
    height: 28px;
  }
  footer {
    font-size: 10px;
  }
} */
